@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.error {
  width: 100%;
  background-color: #dc3545;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  margin: 0.4rem;
  font-size: 1rem;
  font-weight: 100;
  border: none;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .btn {
    font-size: 1.2rem;
    padding: 0.6rem 1rem;
  }
}

.btn-secondary {
  color: #fff;
  background-color: #17a2b8;
}

.btn-secondary:hover {
  background-color: #1ab6cf;
}

.btn-light {
  color: #343a40;
  background-color: #ccc;
}

.btn-light:hover {
  color: #fff;
  background-color: #343a40;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  min-width: 100%;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.9;
  background-color: #343a40;
  padding: 0.5rem;
  color: #fff;
  border-bottom: 2px solid #17a2b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .logo {
  margin: 0.5rem 0;
}

.navigation .logo a {
  font-weight: 100;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
}

.navigation .nav__items {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .nav__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
  padding: 0 0.5rem;
}

@media (min-width: 1025px) {
  .navigation {
    padding: 0.5rem 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation .logo a {
    font-weight: 300;
    font-size: 2rem;
  }
  .navigation .logo a:hover {
    color: #17a2b8;
    cursor: pointer;
  }
  .navigation .nav__link {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0 1rem;
  }
  .navigation .nav__link:hover {
    color: #17a2b8;
  }
}

.main {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/code.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/code.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main .content {
  text-align: center;
  color: #fff;
  padding: 0.5rem;
}

.main .content__header {
  font-size: 2.2rem;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.main .content__paragraph {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 180%;
}

@media (min-width: 1025px) {
  .main .content__header {
    font-size: 3.2rem;
    font-weight: 500;
  }
  .main .content__paragraph {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #343a40;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  border-top: 2px solid #17a2b8;
  font-weight: 100;
  opacity: 0.9;
}

@media (max-width: 1024px) and (orientation: landscape) {
  .footer {
    display: none;
  }
}

@media (min-width: 1025px) {
  .footer {
    font-weight: 300;
  }
}

.login {
  width: 100%;
  padding: 2rem;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .error {
  font-weight: 300;
}

.login__header {
  width: 100%;
  color: #17a2b8;
  font-size: 1.8rem;
  padding: 1rem 0;
}

.login__paragraph {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 0;
  color: #343a40;
}

.login__paragraph .link {
  color: #17a2b8;
}

.login .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.login .form__input {
  margin: 0.2rem 0;
  padding: 0.2rem;
  font-size: 1rem;
}

.login .form .btn {
  margin: 0.5rem 0;
  width: 80px;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 1024px) and (orientation: landscape) {
  .login {
    margin-top: 4rem;
  }
}

@media (min-width: 1025px) {
  .login {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 4rem;
  }
  .login .error {
    font-size: 1.2rem;
  }
  .login__header {
    font-size: 2.2rem;
    padding: 2rem 0;
  }
  .login__paragraph {
    font-size: 1.2rem;
    padding: 1rem 0;
  }
  .login .form__input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1.2rem;
  }
  .login .form .btn {
    margin: 0.5rem 0;
    width: 120px;
  }
}

.profiles {
  margin-top: 4rem;
  padding: 2rem;
}

.profiles__header {
  font-size: 1.8rem;
  padding: 1rem 0;
  color: #17a2b8;
}

.profiles__paragraph {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 0;
  color: #343a40;
}

.profiles .developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ccc;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #b3b3b3;
}

.profiles .developer .developer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profiles .developer .developer__left .img img {
  width: 100%;
  border-radius: 50%;
}

.profiles .developer .developer__left .credentials {
  text-align: center;
  color: #343a40;
}

.profiles .developer .developer__left .credentials__header {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.profiles .developer .developer__left .credentials__paragraph {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

.profiles .developer .developer__right {
  display: none;
}

@media (min-width: 1025px) {
  .profiles__header {
    font-size: 2.2rem;
    padding: 2rem 0;
  }
  .profiles__paragraph {
    font-size: 1.2rem;
    padding: 1rem 0;
  }
  .profiles .developer .developer__left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .profiles .developer .developer__left .img {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    margin-right: 20px;
  }
  .profiles .developer .developer__left .credentials {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profiles .developer .developer__left .credentials__header {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0.5rem 0;
  }
  .profiles .developer .developer__left .credentials__paragraph {
    font-weight: 300;
    font-size: 1rem;
    margin: 0.2rem 0;
  }
  .profiles .developer .developer__left .credentials .btn {
    margin: 0.2rem 0;
    width: 140px;
  }
  .profiles .developer .developer__right {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profiles .developer .developer__right p {
    margin: 0.2rem 0;
    color: #17a2b8;
  }
}

.profile {
  margin-top: 4rem;
  padding: 2rem;
}

.profile .btn {
  margin: 1rem 0;
}

.profile__person {
  background-color: #17a2b8;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
  color: #fff;
}

.profile__person .image {
  width: 200px;
  margin: 0 auto;
}

.profile__person .image img {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.profile__person .header {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0.5rem 0;
}

.profile__person .paragraph-large {
  font-size: 1rem;
  margin: 0.2rem 0;
  font-weight: 300;
}

.profile__person .paragraph-small {
  font-size: 0.8rem;
  margin: 0.2rem 0;
  font-weight: 300;
}

.profile__person .socials i {
  font-size: 1.4rem;
  margin: 0.2rem;
}

@media (min-width: 1025px) {
  .profile__person .header {
    font-size: 1.8rem;
    margin: 1rem 0;
  }
  .profile__person .paragraph-large {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  .profile__person .paragraph-small {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  .profile__person .socials i {
    font-size: 1.8rem;
    margin: 0.5rem;
    cursor: pointer;
  }
  .profile__person .socials i:hover {
    color: #343a40;
  }
}

.profile__bio {
  background-color: #ccc;
  border: 1px solid #b3b3b3;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.profile__bio .header {
  font-size: 1.6rem;
  font-weight: 300;
  color: #17a2b8;
  margin: 0.5rem 0;
}

.profile__bio .paragraph {
  color: #343a40;
  font-size: 1rem;
  font-weight: 300;
  margin: 0.2rem 0;
}

.profile__bio .skills {
  margin: 0 auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (orientation: landscape) {
  .profile__bio .skills {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1025px) {
  .profile__bio .header {
    font-size: 1.8rem;
    margin: 1rem 0;
  }
  .profile__bio .paragraph {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
}

.profile__credentials {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile__credentials .experience,
.profile__credentials .education {
  background-color: #ccc;
  border: 1px solid #b3b3b3;
  padding: 1rem;
}

.profile__credentials .experience .header,
.profile__credentials .education .header {
  color: #17a2b8;
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0.5rem 0;
}

.profile__credentials .experience .header__small,
.profile__credentials .education .header__small {
  font-size: 1rem;
  margin: 0.2rem 0;
  color: #343a40;
}

.profile__credentials .experience .paragraph,
.profile__credentials .education .paragraph {
  font-size: 1rem;
  font-weight: 300;
  margin: 0.2rem 0;
}

.profile__credentials .experience .paragraph span,
.profile__credentials .education .paragraph span {
  font-weight: bold;
}

.profile__credentials .experience {
  margin-bottom: 1rem;
}

.profile__credentials .experience .border {
  margin: 1rem 0;
  border-bottom: 1px dotted #b3b3b3;
}

@media (min-width: 1025px) {
  .profile__credentials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .profile__credentials .experience,
  .profile__credentials .education {
    padding: 1rem;
  }
  .profile__credentials .experience .header,
  .profile__credentials .education .header {
    font-size: 1.8rem;
    margin: 1rem 0;
  }
  .profile__credentials .experience .header__small,
  .profile__credentials .education .header__small {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  .profile__credentials .experience .paragraph,
  .profile__credentials .education .paragraph {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .profile__credentials .experience .paragraph span,
  .profile__credentials .education .paragraph span {
    font-weight: bold;
  }
  .profile__credentials .experience {
    margin: 0 1rem 0 0;
  }
}

.profile__github .header {
  color: #17a2b8;
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0.5rem 0;
}

@media (min-width: 1025px) {
  .profile__github .header {
    font-size: 1.8rem;
    margin: 1rem 0;
  }
}

.profile__github .repo {
  padding: 0.5rem;
  background-color: #ccc;
  border: 1px solid #b3b3b3;
  color: #343a40;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (orientation: landscape) {
  .profile__github .repo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .profile__github .repo .repo__left {
    width: 70%;
    margin-left: 1rem;
  }
  .profile__github .repo .repo__right {
    width: 30%;
  }
}

.profile__github .repo .repo__left .header {
  color: #17a2b8;
  font-size: 0.8rem;
}

@media (min-width: 1025px) {
  .profile__github .repo {
    font-size: 1rem;
  }
  .profile__github .repo .repo__left .header {
    font-size: 1rem;
  }
}

.profile__github .repo .repo__right {
  text-align: center;
}

.profile__github .repo .repo__right div {
  margin: 0.2rem 0;
  padding: 0.2rem;
}

.profile__github .repo .repo__right .stars {
  background-color: #17a2b8;
}

.profile__github .repo .repo__right .watchers {
  background-color: #999999;
}

.profile__github .repo .repo__right .forks {
  background-color: gray;
}
/*# sourceMappingURL=main.css.map */